<?xml version="1.0" encoding="utf-8"?>


<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.jinqiang.android.material" >

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <!-- For HackyApiCredentialHelper. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:name="me.jinqiang.android.material.DouyaApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Douya"
        tools:ignore="UnusedAttribute">

        <activity
            android:name="me.jinqiang.android.material.account.ui.AuthenticatorActivity"
            android:label="@string/auth_title_new"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Douya.PrimaryColorBackground" />

        <activity
            android:name="me.jinqiang.android.material.account.ui.AddAccountActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/Theme.Douya.NoDisplay" />

        <activity
            android:name="me.jinqiang.android.material.account.ui.SelectAccountActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/Theme.Douya.NoDisplay" />

        <activity
            android:name="me.jinqiang.android.material.ui.WebViewActivity"
            android:label="@string/webview_title"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="me.jinqiang.android.material.ui.GalleryActivity"
            android:label="@string/gallery_title"
            android:theme="@style/Theme.Douya.Gallery" />

        <activity
            android:name="me.jinqiang.android.material.main.ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="me.jinqiang.android.material.broadcast.ui.BroadcastActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Douya.DarkBackground"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="me.jinqiang.android.material.profile.ui.ProfileActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Douya.TransparentBackground"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="me.jinqiang.android.material.settings.ui.SettingsActivity"
            android:label="@string/settings_title"
            android:theme="@style/Theme.Douya" />

        <activity
            android:name="me.jinqiang.android.material.settings.ui.AboutActivity"
            android:label="@string/about_title"
            android:theme="@style/Theme.Douya.PrimaryColorBackground" />
        <activity
            android:name=".live.activity.LiveActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            >
        </activity>
        <activity
            android:name=".live.activity.RoomActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".live.activity.LiveActivity" />
        </activity>

        <service
            android:name="me.jinqiang.android.material.account.app.AuthenticatorService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
    </application>
</manifest>
